body {
    color: red;
}

#dynamic-area {
    border: 1px solid black;
    padding: 10px;
    margin-top: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
}

.song-box {
    border: 1px solid black;
    aspect-ratio: 1/1;
    text-align: center;
    padding: 10px;
    transition: all 100ms linear;
}

.song-box:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.song-box h1, p {
    margin: 0;
}

.cover-image {
    width: 80%;
    aspect-ratio: 1/1;
    background-color: red;
}

#local-song-select {
    margin-bottom: 20px;
    min-width: 200px;
}
button {
    height: 22px;
    margin: 0;
}

#confirmation-screen {
    position: absolute;
    width:100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    left:0;
    top: 0;
    overflow: hidden;
    z-index: 10;
}

#confirmation-box {
    width: 50%;
    height: 50%;
    background-color: white;
    opacity: 1;
}